body{
    background-color: aqua;
    width: 90%;
}

h1{
    font-size: 1.5rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding: 2rem;
    margin: 2rem;   
}

#timer{
    position: relative;
    left: 82%;
    bottom: 120px 
}
#highscore{

   position: relative;
    right: 1%
}
 
li{
    padding: 0.2rem;
    margin: 0.2rem;
}

.body1{
    text-align: center;
    margin-bottom: 100px;
    border-style: solid;
    border-width: 2px ;
    padding: 1rem;
    margin: 1rem;
    font-size: 20px;
    width: 90%;

}

#start-button{
    position: relative;
    text-align: center;
    padding: 1rem;
    margin: 1rem;
    left: 45%;
    background-color: rgb(6, 6, 78);
    color: azure;
    
}

.btn { 
    color: aliceblue;
    font-weight: 400;
    background-color: blue;
    display: hide;
    padding: .5rem;
    margin: .5rem;
}

.end{
    display: none;
}

#end1{
    position: relative;
    text-align: center;
    font-weight: bold;
    font-size: 20pt;
    justify-content: center;
    border-style: dashed;
    background-color: aliceblue;
    box-shadow: 5pt;
    width: fit-content;
}